 html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: black;
   color: white;
   display: flex;
   align-items: center;
   justify-content:  center;
   flex-direction: column;
 }
 #btn{
      text-decoration:  none;
   border: 1px solid #2a2a2a;
   padding: 0.7rem 1.2rem;
   border-radius: 50px;
   font-size: 1.2rem;
   font-weight: 600;
   letter-spacing: 0.1rem;
   transition: background-color 0.2s ease;
 
}
#p{
    font-size: 40px;
}